<!DOCTYPE html>
<html>
  
  <head>
    <title><%= notification1.title %></title>
  </head>


<body>
  </br>
  
    <h1 style="display: flex;justify-content: center;"><%= notification1.title %></h1></br>
    <p style="text-align: center; "><PRE style="text-align: center;"><%= notification1.body%></PRE></p>
      </br></br>  


  </body>
</html>